section {
    background-color: #ececec;
    display: flex;
    flex-direction: column;
    padding: 40px;

}

h2 {
    font-family: 'Fanwood Text', serif;
    font: weight;
    font-size: 40px;
    line-height: 54px;
    color: #022378;
    max-width: 650px;
    margin: 10px;
}

p {
    max-width: 650px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    font-size: 14px;
    font-family: 'Raleway', sans-serif;
    margin: 24px 10px 0 10px;
}

form {
    display: flex;
    flex-direction: column;
    max-width: 700px;
    font-family: 'Raleway', sans-serif;
}

button {
    max-width: 350px;
    margin: 20px 10px;
}

label {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

input {
    border: solid 1px #cccccc;
    background-color: #fff;
    border-radius: 6px;
    height: 32px;
}

.formGroup {
    display: flex;
    width: 100%;
    align-items: flex-end;
}

.formGroup label {
    width: 50%;
}

.textArea {
    height: 107px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
